.hidden {
  display: none;
}

#add-question-error {
    color: red;
    font-weight: bold;
    margin-top: 5px;
    font-size: 0.9rem;
  }

body {
  margin: 0;
  height: 100vh;
  background: teal;
  font-family: 'Tahoma', 'Microsoft Sans Serif', sans-serif;
  overflow: hidden;
  position: relative;
}

.window {
  width: 400px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  box-sizing: border-box;
}

.options label {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}

.title-bar {
  cursor: move;
  user-select: none;
  background: #000080;
  color: white;
  padding: 2px 5px;
}

.desktop-icon {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 10px;
  position: absolute;
}

.desktop-icon img {
  width: 32px;
  height: 32px;
  image-rendering: pixelated; 
  margin-bottom: 3px;
  flex-shrink: 0;
}

.desktop-icon span {
  font-size: 0.7rem;
  line-height: 1;
  word-wrap: break-word;
  text-shadow: 
      1px 1px 0 #000, 
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000;
}

#explorer-shortcut { top: 10px; left: 10px; }
#recycle-shortcut { top: 100px; left: 10px; }
#file-shortcut { top: 190px; left: 10px; }

#taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5px;
  height: 30px; 
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  background: #c0c0c0;
  z-index: 10;
}

#start-button {
  font-family: 'Tahoma', 'Microsoft Sans Serif', sans-serif;
  font-size: 0.9rem;
  font-weight: bold; 
  background: #c0c0c0;
  margin-right: 10px;
  min-width: 60px; 
  height: 22px;
  line-height: 1;
  border: 2px outset #fff;
  padding: 2px 10px;
}

#taskbar-icons {
  flex-grow: 1;
  display: flex;
  gap: 2px;
  overflow: hidden;
  align-items: center;
  height: 100%;
}

.taskbar-button {
  flex-shrink: 0;
  width: 150px;
  height: 22px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  background: #c0c0c0;
  border: 2px outset #fff;
  padding: 0 5px;
  font-size: 0.8rem;
}

.taskbar-button.active {
  border: 2px inset #fff;
  background: #808080;
  color: #000000;
}

.taskbar-tray {
  height: 100%;
  display: flex;
  align-items: center;
}

.taskbar-tray .sunken-panel {
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  font-size: 0.8rem;
  line-height: 1;
}

#question-text {
  min-height: 90px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center; 
  margin-top: 0;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}
